<h2>Simulation: <%=h @experiment.simulation.description %></h2>
<% if @screen != nil %>
	<h2><%= @screen %></h2>
		<table >
			<tr>
				<td><b>Started at</b></td>
				<td><b>Ended at</b></td>
			</tr>
			<tr>
				<td><%=h @experiment.started_at %></td>
				<td><%= @experiment.ended_at ? h(@experiment.ended_at) : '<b>Running</b>' %></td>
			</tr>
		</table>
	<iframe src ="<%=@screen%>" width="80%" height="600">
	  <p>Your browser does not support iframes.</p>
	</iframe>
<% else %>
	<p>Console could not be inited</p>
<% end %>