<%= start_content %>
	<h2>Simulation: <%=h @experiment.simulation.description %></h2>
	<table >
		<tr>
			<th>Started at</th>
			<th>Ended at</th>
			<% if @graphic_support && @experiment.experiment_data != nil -%>
				<th>Heartbeats</th>
			<% end %>
		</tr>
		<tr>
			<td><%=h @experiment.started_at %></td>
			<td><%= @experiment.ended_at ? h(@experiment.ended_at) : '<b>Running</b>' %></td>
			<% if @graphic_support && @experiment.experiment_data != nil -%>
				<td><%= @experiment.experiment_data.heartbeats.size -%></td>
			<% end %>
		</tr>
	</table>
	<b>Events:</b>
	<table border="1">
		<tr>
			<th>Time</th>
			<th>Event</th>
		</tr>
		<% @experiment.experiment_events.each do |event| %>
		   <tr>
		   		<td><%= event.created_at %></td>
		   		<td><%= event.description.gsub("\n","<br/>") %></td>
		   </tr>
		<% end %>
	</table>

<%= end_content %>
<%= start_corner %>
	<%= render :partial => "basic_corner" %>
<%= end_corner %>

<% if @experiment.ended_at == nil %>
	<script type="text/javascript">
	function table_refresh()
	{
		window.location.reload()
	}
	
	setTimeout("table_refresh()",3000);
	</script>
<% end %>
