<%=start_content%>
<p>
  <b>Host:</b>
  <%=h @machine.host %>
</p>

<p>
  <b>Port:</b>
  <%=h @machine.port %>
</p>
<p>
  <b>Active:</b>
  <%=h @machine.active %>
</p>

<p>
  <b>On line:</b>
  <%=h @machine.online %>
</p>
<p>
	<b>Processors:</b>
	<%=h @machine.info("Processors") %>
</p>
<p>
	<b>Running simulations:</b>
	<%=h @machine.info("Simulations") %>
</p>
<p>
	<b>Free memory:</b>
    <%=h @machine.info("MemFree") %>
</p>
<p>
	<b>Info:</b>
	<%=h @machine.info(:Info) %>
</p>

<%=end_content%>

<%=start_corner%>
	<%= button_link_to 'Edit', edit_machine_path(@machine) %> <br/>
	<%= button_link_to 'Back', machines_path %>
<%= end_corner %>